{% extends 'aplicacion/index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Reparto</title>
</head>
<body>
     <h3>Programacion de reparto</h3>
    <table>{{ miForm.as_table }}</table>
    <h2>Creación de nuevo reparto</h2>
    <form action="" method="POST">
        {% csrf_token %} 
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Enviar">
    
</body>
</html>